body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    font: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.blog{
    margin: 20px;
    border: 2px solid violet;
    border-radius: 12px;
    padding: 15px;
}
.list{
    border: 1px solid black;
    border-radius: 9px;
    
}
.blog2{
    margin: 20px;
    border: 2px solid indigo;
    border-radius: 9px;
    padding: 15px;

}
h3{
    text-align: center;
}